<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Canada</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/view/3647.htm">加拿大</a></h3>
			<p>  加拿大（Canada）为北美洲最北的国家，西抵太平洋，东迄大西洋，北至北冰洋，东北部和丹麦领地格陵兰岛相望，东部和法属圣皮埃尔和密克隆群岛相望，南方与美国国土接壤，西北方与美国阿拉斯加州为邻。领土面积达998万平方公里，为全世界面积第二大的国家。加拿大素有“枫叶之国”的美誉，首都是渥太华。
<br>加拿大政治体制为联邦制、君主立宪制及议会制，是英联邦国家之一，所以英王伊丽莎白二世为国家首领及象征，但无实际权力。加拿大是典型的英法双语国家。得益于丰富的自然资源和高度发达的科技，加拿大是世界上最大的经济体之一，也是世界上拥有最高生活品质的国家之一，国民拥有很高的生活质量，是全球最富裕、经济最发达的国家之一。<br>加拿大也是G8、G20、北约、联合国、法语圈国际组织、世界贸易组织等国际组织的成员。
加拿大在一万四千年前即有加拿大原住民生活。15世纪，英国和法国殖民者开始在东海岸定居。1867年，英属北美的四个殖民地以联邦形式结合在一起，构成了现代加拿大的基础。随后，其它英属北美殖民地陆续加入联邦，形成了如今加拿大的领土范围。加拿大是一个移民国家，奉行多元文化，约四分之一的居民出生在加拿大以外，全国多个城市被评为世界上最适宜居住的地方之一。
            <h3><a href="http://baike.baidu.com/view/3647.htm#15">旅游</a></h3>
            <P><a href="http://baike.baidu.com/view/983553.htm">锡格纳尔山</a>、<a herf="http://baike.baidu.com/view/4865125.htm">哈利法克斯城堡</a>、<a href="http://baike.baidu.com/view/86001.htm">多伦多电视塔</a>、<a href="http://baike.baidu.com/view/4865134.htm">卡博特之路</a>、<a href="http://baike.baidu.com/view/4865141.htm">芬迪国家公园</a>、<a href="http://baike.baidu.com/view/3573984.htm">白求恩故居</a>、<a href="http://baike.baidu.com/view/19517.htm">尼亚加拉瀑布</a>、<a href="http://baike.baidu.com/view/382500.htm">史丹利公园</a>、<a href="http://baike.baidu.com/view/101459.htm">卡皮拉诺吊桥公园</a>、蒙特利尔旧城、加拿大落基山脉公园（Canadian Rocky Mountain Parks）等。
				</div>
					<div class="grid_5">
						<h3>渥太华</h3>
                        <p><img src="images/canada_1.jpg" alt="加拿大">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>