<!DOCTYPE html>
<html lang="en">
	<head>
		<title>France</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/view/64741.htm">法国</a></h3>
			<p>  全名法兰西共和国，现在是法兰西第五共和国，是位于西欧的一个高度发达的资本主义国家，法国的面积达到55万平方公里，为欧洲面积第三大的国家，西欧国土面积最大的国家，与比利时、卢森堡、瑞士、德国、意大利、西班牙、安道尔、摩纳哥接壤， 首都巴黎是著名的符拉迪沃斯托克（海参崴）-----莫斯科-----巴黎欧亚大铁路的终点。
<br>法国 本土大致呈六边形，三面临水：南临地中海，西濒大西洋，西北隔英吉利海峡与英国相望。地中海上的科西嘉岛是法国最大岛屿。地势东南高西北低。法国在18世纪至20世纪早期是仅次于大英帝国的世界第二强国，也是两次世界大战的主要战胜国之一，虽在二战时期一度沦陷于纳粹德国，战后国力严重受损，不过法国仍是一个重要的强国，因而也与英，美，俄，中成为联合国安理会五大常任理事国之一，对安理会议案拥有否决权。法国是欧洲联盟和北约创始会员国，八国集团和《申根公约》成员国。
<br>同时，法国是一个崇尚自由、个性张扬的国度；是一个以时装，红酒闻名于世的国家；更是一个有着优雅女人和浪漫情怀的国度。首都巴黎为世界时尚浪漫之都，也是约会的好地方。
            <h3><a href="http://baike.baidu.com/view/64741.htm#9">旅游</a></h3>
            <P><a href="http://baike.baidu.com/view/197209.htm">巴黎凯旋门</a>（l'Arc de Triomphe）、<a href="http://baike.baidu.com/view/29908.htm">埃菲尔铁塔</a>（la Tour Eiffel）、<a hr ef="http://baike.baidu.com/view/4688.htm">卢浮宫</a>（Palais du Louvre）、<a href="http://baike.baidu.com/subview/14159/5247312.htm">巴黎圣母院</a>（Notre-Dame de Paris）、<a href="http://baike.baidu.com/view/299613.htm">巴士底狱遗址</a>（Place de la Bastille）、<a href="http://baike.baidu.com/view/197239.htm">先贤祠</a>（le Panthéon）、<a href="http://baike.baidu.com/view/197279.htm">乔治·蓬皮杜国家艺术文化中心</a>（Centre National d'Art et de Culture Georges Pompidou）、<a href="http://baike.baidu.com/view/166101.htm">协和广场</a>（Place de la Concorde）、<a href="http://baike.baidu.com/view/287409.htm">香榭丽舍大街</a>（Avenue des Champs）、<a href="http://baike.baidu.com/view/27820.htm">凡尔赛宫</a>（Palace of Versailles）、<a href="http://baike.baidu.com/subview/157373/5128262.htm">枫丹白露</a>（Fontainebleau）等。
				</div>
					<div class="grid_5">
						<h3>巴黎</h3>
                        <p><img src="images/france_1.jpg" alt="巴西">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>