<!DOCTYPE html>
<html lang="en">
	<head>
		<title>India</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/view/2174.htm">印度</a></h3>
			<p>  印度，是印度共和国（Republic of India)的简称，位于亚洲南部，是南亚次大陆最大的国家，大部分位于北纬10度至30度之间。位于低纬度，大部分位于热带和亚热带。与孟加拉国、缅甸、中国、不丹、尼泊尔和巴基斯坦等国家接壤。与斯里兰卡，马尔代夫隔海相望。英联邦成员国。印度具有绚丽的多样性和丰富的文化遗产和旅游资源。
<br>印度是世界上发展最快的国家之一，但也是个社会财富分配极度不平衡的发展中国家，种族等级制度问题较为严重。
<br>印度在软件业出口方面表现突出，金融，研究，技术服务等行业也有快速发展。印度是当今金砖国家之一，农业由严重缺粮到基本自给，工业形成较为完整的体系，自给能力较强。
<br>印度在梵文中有月亮的含义，是美好的事物的通称。
<br>印度已经成为软件业出口的霸主，金融、研究、技术服务等等也即将成为全球重要出口国。
            <h3><a href="http://baike.baidu.com/view/2174.htm?fr=wordsearch#12">旅游</a></h3>
            <P>	1、<a href="http://baike.baidu.com/view/340264.htm">楠达德维国家公园</a>
		2、<a href="http://baike.baidu.com/view/340270.htm">盖奥拉德奥国家公园</a>
		3、乌纳斯野生动植物保护区
		4、<a href="http://baike.baidu.com/view/340272.htm">加济兰加国家公园</a>
		5、<a href="http://baike.baidu.com/view/203814.htm">孙德尔本斯国家公园</a>等。
				</div>
					<div class="grid_5">
					<h3>新德里</h3>
                        <p><img src="images/india_1.jpg" alt="印度">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>