<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Japan</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/view/1554.htm">日本</a></h3>
			<p>  日本国（Japan）是位于亚洲东部的岛国，由本州、四国、九州、北海道四个大岛及7200多个小岛组成。其中本州岛面积最大。“日本”国名意为“日出之国”。日本人口达1.26亿，以和族为主体民族，通用日本语。
<br>公元3世纪中叶境内出现较大的国家“大和国”。645年，日本向中国唐朝学习，进行大化改新。12世纪后期以后进入幕府时代。1868年，日本向欧美列强学习，进行明治维新，跻身资本主义列强，对外逐步走上侵略扩张的军国主义道路，曾侵略中国、朝鲜等亚洲国家，给亚洲人民带来深重的灾难。
<br>1945年二战结束后日本投降。其后颁布的《日本国宪法》成为了日本的最高法律规范，规定日本为三权分立的国家。国家理念为立宪主义、国民主权、基本人权的尊重、和平主义，以君主天皇作为日本国家与国民的象征。
<br>日本经济自1960年代开始了持续长达30年的高度增长，被誉为“日本战后经济奇迹”。日本是八国集团、二十国集团、世界贸易组织、亚太经合组织等成员国。日本是世界第三大经济体。日本自1960年代末期起至今一直是公认的资本主义世界第二号经济强国，当时也是当今世界第四大出口国和进口国。日本国民拥有极高的生活质量，是全球最富裕、经济最发达的国家之一。日本的科学研发能力领衔世界，而且在军事、教育、医学、工业等方面始终位于世界前列。
            <h3><a href="http://baike.baidu.com/view/1554.htm?fr=wordsearch#13">旅游</a></h3>
            <P>	1:<a href="http://baike.baidu.com/view/6211.htm">富士山</a>
		<br>2:<a href="http://baike.baidu.com/subview/62764/8660317.htm#viewPageContent">东京铁塔</a>
		<br>3:<a href="http://baike.baidu.com/subview/41509/5736971.htm?fr=aladdin">金阁寺</a>
		<br>4:<a href="http://baike.baidu.com/view/842206.htm?fr=wordsearch">银阁寺</a>
		<br>5:<a href="http://baike.baidu.com/view/10411.htm?fr=wordsearch">唐招提寺</a>
		<br>6:<a href="http://baike.baidu.com/link?url=PhzZ5sTSmyNZNGKRunlk93aA2amfTBaGISRfdKPBok-qzwvbWffmeILOYz8dmp7Y#4">大阪城天守阁</a>
		<br>7:<a href="http://baike.baidu.com/view/108682.htm?fr=wordsearch">阿苏火山</a>		
		<br>8:<a href="http://baike.baidu.com/view/362421.htm?fr=wordsearch">台场</a>
		<br>9:<a href="http://baike.baidu.com/view/103068.htm?fr=wordsearch">浅草寺</a>
		<br>10:<a href="http://baike.baidu.com/view/2155017.htm?fr=wordsearch">白山历史乡村</a>等。
				</div>
					<div class="grid_5">
						<h3>东京</h3>
                        <p><img src="images/japan_1.jpg" alt="日本">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>