<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Brazil</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/subview/5399/5235799.htm">巴西</a></h3>
			<p>  巴西是是南美洲最大的国家，享有足球王国的美誉，也是2014年世界杯的举办国，人口居世界第五，面积居世界第五。与乌拉圭、阿根廷、巴拉圭、玻利维亚、秘鲁、哥伦比亚、委内瑞拉、圭亚那、苏里南、法属圭亚那接壤。
			巴西拥有辽阔的农田和广袤的雨林，国名源于巴西红木。得益于丰厚的自然资源和充足的劳动力，巴西的国内生产总值位居南美洲第一，为世界第七大经济体。
			<br>由于历史上曾为葡萄牙的殖民地，1822年9月7日宣布独立。巴西的官方语言为葡萄牙语，但由于与葡萄牙相距甚远，经济与文化交流不那么频繁，所以导致了巴西形成了其独特的葡萄牙语口音以及拼写，自成一派。<br>足球是巴西人文化生活的主流运动。
			巴西是金砖国家之一，也是南美洲国家联盟成员。巴西也是里约集团创始国之一，南方共同市场、20国集团成员国，不结盟运动观察员。
			巴西拥有丰富的自然资源和雄厚完整的工业基础；为全球新兴经济体，也是全球发展最快的国家之一，是重要的发展中国家之一。
			<br>而今天，巴西民主体制巩固，经济持续增长，社会贫富差距缩小，国家综合实力大大增强，国际地位显著的提高，成就令全球瞩目。
            <h3><a href="http://baike.baidu.com/subview/5399/5235799.htm?fr=aladdin#16">旅游</a></h3>
            <P>三权广场、巴西利亚大教堂、总统纪念堂、耶稣山、基督像、天主教大教堂、伊比拉普埃拉公园、东方街、里约大教堂、里约海滩、里约植物园、伊瓜苏大瀑布、伊泰普水电站、亚马逊河(Rio de Amazonia)等。
				</div>
					<div class="grid_5">
						<h3>里约热内卢</h3>
                        <p><img src="images/baxi_1.jpg" alt="巴西">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>