<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Korea</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/subview/3299/5268390.htm">韩国</a></h3>
			<p>  韩国，全称大韩民国，又称南韩、南朝鲜。成立于1948年8月15日，国名来源于古代朝鲜半岛南部的辰韩、马韩、弁韩等“三韩”部落，英文名Korea源于古名“高丽”。
<br>韩国位于东北亚朝鲜半岛南部，三面环海，西南濒临黄海，东南是朝鲜海峡，东边是日本海，北面隔着三八线非军事区与朝鲜相邻，领土面积占朝鲜半岛总面积的4/9。
<br>韩国是20国集团和经合组织（OECD）成员之一，也是亚太经合组织（APEC）和东亚峰会的创始国，亦是亚洲四小龙之一。世界银行、国际货币基金组织和美国中央情报局都将韩国列为发达国家。
            <h3><a href="http://baike.baidu.com/subview/3299/5268390.htm?fr=aladdin#14">旅游</a></h3>
            <P>韩国主要旅游点有首尔（旧译“汉城” ）景福宫、德寿宫、昌庆宫、昌德宫、国立博物馆、国立国乐院、世宗文化会馆、湖岩美术馆、南山塔、国立现代美术馆、江华岛、民俗村、板门店 、庆州、济州岛、雪岳山等。韩国第一大岛济州岛是著名的旅游胜地，岛上的瀑布、海滩、浴场、绿树红花等自然风光，韩国最高峰——海拔1950米的汉拿山也屹立于此。
<br>截至2011年10月，韩国拥有9处世界文化遗产和1处世界自然遗产，被收录进世界遗产的韩国文化遗产包括：首尔宗庙（1995年）、<a href="http://baike.baidu.com/view/88713.htm">海印寺</a>（1995年）、<a href="http://baike.baidu.com/view/88701.htm">佛国寺</a>和<a href="http://baike.baidu.com/view/88695.htm">石窟庵</a>（1995年）、<a href="http://baike.baidu.com/view/93259.htm">水原华城</a>（1997年）、<a href="http://baike.baidu.com/view/147953.htm">昌德宫</a>（1997年）、<a href="http://baike.baidu.com/view/83992.htm">庆州</a>历史遗址区（2000年），高敞，和顺，江华支石墓遗址（2000年），<a href="http://baike.baidu.com/view/2813511.htm">朝鲜王陵</a>40座（2009年），安东河回村。济州火山岛和熔岩洞窟于2007年被登载入世界自然遗产名录等。
				</div>
					<div class="grid_5">
						<h3>首尔</h3>
                        <p><img src="images/hanguo_1.jpg" alt="韩国">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>