<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Turkey</title>
		<meta charset="GBK">
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body>
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
								<li class="current"><a href="index-1.html">画册</a></li>
								<li><a href="index-2.html">网络</a></li>
								<li><a href="index-3.html">博客</a></li>
								<li><a href="index-4.html">联系</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo1.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
<!--==============================Content=================================-->
		<div class="content">
			<div class="container_12">
				<div class="grid_5">
				
					<h3><a href="http://baike.baidu.com/view/6785.htm">土耳其</a></h3>
			<p>  土耳其共和国（土耳其语：Türkiye Cumhuriyeti）是一个横跨欧亚两洲的国家，面积约783,562平方公里。国土包括西亚的安纳托利亚半岛、以及巴尔干半岛的东色雷斯地区。北临黑海，南临地中海，东南与叙利亚、伊拉克接壤，西临爱琴海，并与希腊以及保加利亚接壤，东部与格鲁吉亚、亚美尼亚、阿塞拜疆和伊朗接壤。在安纳托利亚半岛和东色雷斯地区之间的，是博斯普鲁斯海峡、马尔马拉海和达达尼尔海峡，属黑海海峡，别称土耳其海峡，是连接黑海以及地中海的唯一航道。海岸线长7200公里，陆地边境线长2648公里。其首都是位处安纳托利亚高原正中央的安卡拉。
<br>土耳其人史称突厥，并与中亚诸国有着亲密的血缘和文化关系。公元8世纪时开始从中亚一带迁入小亚细亚，13世纪末建立奥斯曼帝国。20世纪初，土耳其沦为英、法、德等国的半殖民地。1919年，土耳其击退外国侵略者，1923年10月29日建立土耳其共和国。 国民有90%以上是穆斯林。
<br>土耳其立法体系效仿欧洲模式。宪法规定土耳其为民主、政教分离和实行法制的国家。 土耳其外交重心在西方，在与美国保持传统战略伙伴关系的同时加强与欧洲国家的关系。
<br>综合国际货币基金组织、世界银行、联合国对2012年世界各国名义GDP统计，土耳其已是全球第十七、欧洲第七。独特的地缘位置，快速增长的经济实力，使土耳其愈来愈引人瞩目。
            <h3><a href="http://baike.baidu.com/view/6785.htm#13">旅游</a></h3>
            <P><a href="http://baike.baidu.com/view/36105.htm">阿尔忒弥斯神庙</a>（Temple of Artemis）(世界七大奇迹之一)、毛瑟陆斯陵墓（世界七大奇迹之一）、卡帕多奇亚石林的仙女峰和石骆驼、哈利卡尔纳苏斯<a href="http://baike.baidu.com/view/1160984.htm">摩索拉斯王陵墓</a>（Halicarnassos Mausoleum）、<a href="http://baike.baidu.com/view/729279.htm">精灵烟囱</a>（Fairy Chimneys）、<a href="http://baike.baidu.com/view/103620.htm">托普卡匹皇宫</a>（Topkapi Palace）、戈雷迈国家公园和卡帕多西亚石窟群（Goreme National Park and the Rock Sites of Cappadocia）、<a href="http://baike.baidu.com/view/482567.htm">艾菲索斯古城</a>（Ephesus）。世界遗产伊斯坦布尔历史区，戈雷迈谷地和卡帕多西亚石窟区，迪夫斯<a href="http://baike.baidu.com/view/28662.htm">大清真寺</a>和医院，<a href="http://baike.baidu.com/view/918692.htm">哈图沙</a>，内姆鲁特山，桑索斯和莱顿遗址，赫拉波利斯和斯帕姆科卡莱，桑美兰博卢城等。								</div>
					<div class="grid_5">
						<h3>西亚雾都安卡拉</h3>
                        <p><img src="images/turkey_1.jpg" alt="加拿大">
                    </div>	
                </div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						I'm Yours (c) 2014 | <a href="#">隐私条款</a> | 网站模版连接 <a href="http://www.cssmoban.com/" rel="nofollow">cssmoban.com</a>
					</div>
				</div>
			</div>
		</footer>
		<script>
		$(function (){
			$('#bookingForm').bookingForm({
				ownerEmail: '#'
			});
		})
		</script>
	</body>
</html>